<!DOCTYPE html>
<html>
<head>
    <title>SpiderNet System</title>
</head>
<body style="font-family: Arial; text-align: center;">

    <h1>SpiderNet Complaint Management System</h1>

    <p>This project uses Django and Flask for handling customer complaints.</p>

    <h3>Features:</h3>
    <ul>
        <li>Submit complaint</li>
        <li>Admin dashboard</li>
        <li>Smart priority detection (Flask logic)</li>
    </ul>

    <br>

    <a href="/complaint/">
        <button>Go to Complaint Page</button>
    </a>

    <br><br>

    <a href="/admin/">
        <button>Go to Admin Panel</button>
    </a>

</body>
</html>
